<div class="top">
    <div class="avatar">
        <img src="/assets/img/index.png">
    </div>
</div>
<div class="navigation">
    <ul class="navigation-list">
        <li class="navigation-item">
            <a href alt="API" title="API">API</a>
        </li>
        <li class="navigation-item">
            <a href title="About">About</a>
        </li>
        <li class="navigation-item">
            <a href="https://github.com/jyntran/lorem-ipsum-moe-api" alt="Github" title="Github">GitHub</a>
        </li>
    </ul>
</div>