<div class="top">
    <div class="avatar">
        <img src="/assets/img/index.png">
    </div>
</div>
<div class="navigation">
    <ul class="navigation-list">
        <li class="navigation-item">
            <a ui-sref="home" alt="Lorem Ipsum Generator" title="Lorem Ipsum Generator">Lorem Ipsum Generator</a>
        </li>
        <li class="navigation-item">
            <a ui-sref="docs" alt="API Documentation" title="API Documentation">API Documentation</a>
        </li>
        <li class="navigation-item">
            <a ui-sref="about" alt="About This Site" title="About This Site">About This Site</a>
        </li>
        <li class="navigation-item">
            <a href="https://github.com/jyntran/lorem-ipsum-moe-api" alt="Github" title="Github">GitHub</a>
        </li>
    </ul>
</div>