<div class="top">
    <div class="avatar">
        <img src="/assets/img/index.png">
    </div>
</div>
<div class="navigation">
    <ul class="navigation-list">
        <li ui-sref-active="navigation-item-active" class="navigation-item">
            <a ui-sref="home" alt="Lorem Ipsum Generator" title="Lorem Ipsum Generator">Lorem Ipsum Generator</a>
        </li>
        <li ui-sref-active="navigation-item-active"  class="navigation-item">
            <a ui-sref="docs" alt="API Documentation" title="API Documentation">API Documentation</a>
        </li>
        <li ui-sref-active="navigation-item-active"  class="navigation-item">
            <a href="https://github.com/jyntran/lorem-ipsum-moe-api" alt="Github (external)" title="Github (external)">GitHub <i class="fa fa-arrow-circle-right"></i></a>
        </li>
    </ul>
</div>