@import 'variables';
@import 'mixins';

html, body {
    background-color: white;
    color: $gray-dark;
    overflow-x: hidden;
    overflow-y: scroll;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
}

.sidebar {
    background-image: url('/assets/img/sidebar.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    @include box-shadow(1px 0px 4px rgba(0,0,0,0.2));

    .top {}

    .avatar {
        width: 96px;
        height: 96px;
        overflow: hidden;
        margin: 16px auto;
        position: relative;
        border: 2px solid white;
        background-color: $blue;
        @include border-radius(100%);
        @include box-shadow(2px 2px 4px $black-20);
        z-index: 1;
        @include animation(zoomIn 0.4s);

        img {
            height: 100%;
            width: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include transition(transform linear 400ms);

            &:hover {
                transform: translate(-50%, -50%) scale(1.1);
                @include transition(transform linear 400ms);
                }
        }
    }

    .navigation {
        width: 100%;
        @include animation(fadeIn 0.4s);

        &-list {
            padding: 0;
            margin: 16px;
            list-style-type: none;
            @include box-shadow(0px 0px 2px $black-20);
            @include border-radius(8px);
        }

        &-item {
            background-color: $white-80;
            @include transition(all linear 150ms);

            &:hover {
                background-color: $pink;
                & a {
                    color: white;
                }
            }

            &-active {
                font-weight: bold;
                text-transform: uppercase;
            }

            a {
                display: block;
                color: $blue;
                text-decoration: none;
                padding: 8px;
                font-size: 0.8em;
            }

            &:first-child {
                border-top-left-radius: inherit;
                border-top-right-radius: inherit;
            }

            &:last-child {
                border-bottom-left-radius: inherit;
                border-bottom-right-radius: inherit;
            }
        }
    }
}

.content {
    padding: 16px;
    @include box-sizing(border-box);

    a {
        color: $pink;
        text-decoration: none;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            background-color: $pink;
            visibility: hidden;
            @include transform(scaleX(0));
            @include transition(all 0.3s ease-in-out 0s);
        }

        &:hover {
            color: $pink;

            &:before {
                visibility: visible;
                @include transform(scaleX(1));
            }
        }
    }
}

span.emphasis {
    color: $blue;
    text-transform: uppercase;
}

label {
    font-size: 0.8em;
}

.well {
    @include border-radius(8px);
    padding: 0.4em;
    margin: 0.4em;
    border: 1px solid $gray-light;
    pre {
        margin: 0;
        word-wrap: break-word;
    }
}

.result {
    font-family: monospace;
    white-space: pre-wrap;
    &.ng-enter {
        @include animation(bounceInUp 1s);
    }
    &.change {
        @include animation(fadeIn 0.2s);
    }
}

.pure-button {
    margin: 16px auto;
}

.view {
    &.ng-enter {
        position: absolute;
        @include animation(bounceInUp 1s);
        z-index: 2;
    }
    &.ng-leave {
        position: absolute;
        @include animation(bounceOutDown 1s);
        z-index: 1;
    }
}

@media all and (min-width: 568px) {

.sidebar {
    height: 100%;
}

}